// 変数定義
$primary-color: rgb(106, 200, 200);
$secondary-color: #ddd;
 
// テーブルスタイル
.table {
  border-collapse: collapse;
  th, td {
    border: 1px solid #333;
  }
}
 
// レイアウト調整
.logfo {
  margin-left: 400px;
}
 
// タブ切り替えのスタイル
.tab-wrap {
  width: 700px;
  margin: 100px auto;
 
  .tab-area {
    font-size: 0;
    margin: 10px 10px;
 
    label {
      width: 300px;
      margin: 0 5px;
      display: inline-block;
      padding: 10px 0;
      color: #999;
      background: $secondary-color;
      text-align: center;
      font-size: 13px;
      cursor: pointer;
      transition: ease 0.2s opacity;
 
      &:hover {
        opacity: 0.5;
      }
    }
  }
 
  .panel-area {
    background: #fff;
 
    .tab-panel {
      width: 80%;
      padding: 50px 0;
      display: none;
 
      p {
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }
 
  // タブ切り替えのアクティブスタイル
  #tab1:checked ~ .tab-area .tab1-label,
  #tab2:checked ~ .tab-area .tab2-label,
  #tab3:checked ~ .tab-area .tab3-label {
    background: $primary-color;
    color: #fff;
  }
 
  #tab1:checked ~ .panel-area #panel1,
  #tab2:checked ~ .panel-area #panel2,
  #tab3:checked ~ .panel-area #panel3 {
    display: block;
  }
}
 
// ヘッダースタイル
header {
  display: flex;
  width: 200%;
  height: 60px;
  background-color: $primary-color;
  align-items: center;
}